# Build results
[Bb]in/
[Oo]bj/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Build output
*.dll
*.exe
*.pdb

# NuGet
*.nupkg
*.snupkg
packages/
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# ASP.NET
wwwroot/lib/
appsettings.*.json
secrets.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Tooling
.dotnet/
project.lock.json
project.fragment.lock.json
artifacts/
node_modules/
**/*.db
**/*.pid
**/*.pid.lock
**/*.pid.lock
